@import '../breakpoints';
@import '../colors';
@import '../guest_page';

.about {
  @extend %guest-page;

  .main {
    align-items: stretch;
    @include breakpoint-mobile-m-only {
      flex-direction: column;
    }

    .left-panel {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 600px;

      p {
        $margin-size: 5vw;
        margin-left: $margin-size;
        margin-right: $margin-size;
      }
    }

    .right-panel {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
