@import '../breakpoints';
@import '../colors';
@import '../guest_page';

$error-font-size: 50px;

.page-404 {
  @extend  %guest-page;

  .main {
    p {
      color: $primary-color;
      font-size: $error-font-size;
      margin-bottom: $error-font-size * 2;
      padding-left: $error-font-size * 2;
      padding-right: $error-font-size * 2;
      text-align: center;

      @include breakpoint-tablet-down {
        font-size: $error-font-size / 2;
        margin-bottom: $error-font-size;
        padding-left: $error-font-size;
        padding-right: $error-font-size;
      }

      code {
        display: block;
      }
    }
  }
}
